.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }

header{
    background-color: #141f40;
    height: 100PX;
    width: 400px;

}

main{
    width: 400px;
}

.box-left{
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

.box-right{
    width: 250px;
    height: 150px;   
    float:right;
}

.box-right-top{
    width: 250px;
    height: 150px;
    display: flex;
}

.box-right-top-left{
    width: 150px;
    height: 150px;
    float:left;

}

.box-right-top-left-top{
    width: 150px;
    height: 50px;
    background-color :#dbd400;
    float: top;
}

.box-right-top-left-bottom{
    width: 150px;
    height: 100px;
    background-color :#0093b7;
    float: bottom;
}

.box-right-top-right{
    width: 100px;
    height: 150px;
    background-color :#ff9e6b;
    float: left;
}

.box-right-bottom{
    width: 250px;
    height: 100px;  
    background-color: #8c2727;
}

footer{
    background-color: #d98d30;
    height: 100PX;
    width: 400px;
}

