@media screen and (max-width: 479px) {

    header{
        background-color: #141f40;
        width: 200px;
        height: 200px;
    }
    
    /*.sub-header{
        width: 200px;
        height: 100px;
        float: right;
    }*/
    

    main{
    width: 200px;
    }
    

    
    .header-menu{
        display: block;
        flex-direction: column;
        width:60px ;
        height: 160px;
        background-color: #ffffff;
        position: relative;
        right:70px;
        left: 70px;
        top: 10px;

        /*
        top: 20px;
        bottom: 20px;
        right:20px;
        left: 20px;*/
    }
    
    .header-box1{
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        background-color:  #a9004b;
        border-top:solid #ffffff 10px;
        border-left: solid #ffffff 10px;
        border-bottom: solid #ffffff 5px;
        border-right: solid #ffffff 10px;
    }
    
    .header-box2{
        width: 60px;
        height: 55px;
        box-sizing: border-box;
        border-color: white;
        background-color:  #a9004b;
        border-top:solid #ffffff 5px;
        border-left: solid #ffffff 10px;
        border-bottom: solid #ffffff 5px;
        border-right: solid #ffffff 10px;
    }
    
    .header-box3{
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        border-color: white;
        background-color:  #a9004b;
        border-top:solid #ffffff 5px;
        border-left: solid #ffffff 10px;
        border-bottom: solid #ffffff 10px;
        border-right: solid #ffffff 10px;
    }
    
    .left{
        width: 200px;
        height: 100px;
        background-color: #80bfa8;
        /*float: left;*/
    }
    
    
    
    
    .right{
        width: 200px;
        height: 200px;
        background-color: #8c2727;
        /*float: left;*/p
    
    }
    
    
    .right-box{
        width: 140px;
        height: 50px;
        box-sizing: border-box;
        border: solid #ffffff 5px;
        border-color: white;
        background-color: #ff863f;
        position: relative;
        top: 15px;
        bottom: 15px;
        right:25px;
        left: 25px;
    
    }
    
    footer{
        width: 200px;
        height: 100px;
        background-color: #d98d30;
    
    }
}